<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App </p>
    <a href="/er">Error link</a>
    <!-- <a href="/inv/detail/999">Error link</a> -->
</footer>